@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap');
body{
    background-color: rgb(252, 224, 168);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    color: white;


}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;

}

nav ul li{
    padding: 0 20px;

}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}
.brand img{
    width: 50px;
    padding: 0 5px;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Merriweather', serif;
    display: flex;
    margin: 20px auto;
    width: 80%;
    border-radius: 12px;
    padding: 20px;
    background-image: url('bg.jpg');
    background-size: 1200px;
}
.songList h1{
    font-size: 30px;

}

.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 20px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;

}
.songItemContainer{
    margin: 20px;
}
.songItem{
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    margin: 8px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
}
.songItem img{
    width: 30px;
    margin: 0 20px;
    border-radius: 25px;
}
.timeStamp{
    margin: 0 20px;
}
.songlistplay i{
    cursor: pointer;
    padding-right: 30px;
    float: right;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.5 s ease-in;
}